resources/soap/PaymentScheduleService.1cws.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap12bind="http://schemas.xmlsoap.org/wsdl/soap12/"
		xmlns:soapbind="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:tns="http://www.topcredit.md"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:xsd1="http://www.topcredit.md"
		name="PaymentScheduleService"
		targetNamespace="http://www.topcredit.md">
	<types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
				xmlns:xs1="http://www.topcredit.md"
				targetNamespace="http://www.topcredit.md"
				attributeFormDefault="unqualified"
				elementFormDefault="qualified">
			<xs:complexType name="ApplicationFile">
				<xs:sequence>
					<xs:element name="name"
							type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ApplicationFileSet">
				<xs:sequence>
					<xs:element name="applicationFile"
							type="tns:ApplicationFile"
							minOccurs="0"
							maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ClientData">
				<xs:sequence>
					<xs:element name="clientFound"
							type="xs:boolean"/>
					<xs:element name="name"
							type="xs:string"/>
					<xs:element name="surname"
							type="xs:string"/>
					<xs:element name="phoneCell"
							type="xs:string"/>
					<xs:element name="loanLimitSum"
							type="xs:decimal"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="FileAttachment">
				<xs:sequence>
					<xs:element name="name"
							type="xs:string"/>
					<xs:element name="data"
							type="xs:base64Binary"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="FileAttachmentSet">
				<xs:sequence>
					<xs:element name="fileAttachment"
							type="tns:FileAttachment"
							minOccurs="0"
							maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="LoanApplication">
				<xs:sequence>
					<xs:element name="id"
							type="xs:string"/>
					<xs:element name="dealerID"
							type="xs:string"/>
					<xs:element name="loanProductID"
							type="xs:string"/>
					<xs:element name="name"
							type="xs:string"/>
					<xs:element name="surname"
							type="xs:string"/>
					<xs:element name="idno"
							type="xs:string"/>
					<xs:element name="phoneCell"
							type="xs:string"/>
					<xs:element name="contact"
							type="xs:string"/>
					<xs:element name="contactPhoneCell"
							type="xs:string"/>
					<xs:element name="creditTerm"
							type="xs:unsignedInt"/>
					<xs:element name="loanPurpose"
							type="xs:string"/>
					<xs:element name="totalCost"
							type="xs:decimal"/>
					<xs:element name="clientComment"
							type="xs:string"/>
					<xs:element name="partnerComment"
							type="xs:string"/>
					<xs:element name="fileAttachmentSet"
							type="tns:FileAttachmentSet"/>
					<xs:element name="guarantorIDNO"
							type="xs:string"/>
					<xs:element name="guarantorName"
							type="xs:string"/>
					<xs:element name="guarantorSurname"
							type="xs:string"/>
					<xs:element name="personalDataProcessingAgreement"
							type="xs:boolean"
							nillable="true"/>
					<xs:element name="personalDataStoringAgreement"
							type="xs:boolean"
							nillable="true"/>
					<xs:element name="creditHistoryCheckAgreement"
							type="xs:boolean"
							nillable="true"/>
					<xs:element name="creditHistoryReportingAgreement"
							type="xs:boolean"
							nillable="true"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="LoanApplicationHeader">
				<xs:sequence>
					<xs:element name="id"
							type="xs:string"/>
					<xs:element name="date"
							type="xs:date"/>
					<xs:element name="number"
							type="xs:decimal"/>
					<xs:element name="clientName"
							type="xs:string"/>
					<xs:element name="loanAmount"
							type="xs:decimal"/>
					<xs:element name="loanCurrency"
							type="xs:string"/>
					<xs:element name="loanPurpose"
							type="xs:string"/>
					<xs:element name="comment"
							type="xs:string"/>
					<xs:element name="applicationState"
							type="xs:string"/>
					<xs:element name="applicationStateCode"
							type="xs:decimal"/>
					<xs:element name="dealerName"
							type="xs:string"/>
					<xs:element name="applicationFileSet"
							type="tns:ApplicationFileSet"/>
					<xs:element name="hasNewMessages"
							type="xs:boolean"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="LoanApplicationHeaderSet">
				<xs:sequence>
					<xs:element name="loanApplicationHeader"
							type="tns:LoanApplicationHeader"
							minOccurs="0"
							maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="LoanProductSet">
				<xs:sequence>
					<xs:element name="loanProductSetItem"
							type="tns:LoanProductSetItem"
							minOccurs="0"
							maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="LoanProductSetItem">
				<xs:sequence>
					<xs:element name="id"
							type="xs:string"/>
					<xs:element name="name"
							type="xs:string"/>
					<xs:element name="comment"
							type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Message">
				<xs:sequence>
					<xs:element name="applicationID"
							type="xs:string"/>
					<xs:element name="date"
							type="xs:dateTime"/>
					<xs:element name="senderName"
							type="xs:string"/>
					<xs:element name="text"
							type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="MessageHeader">
				<xs:sequence>
					<xs:element name="applicationID"
							type="xs:string"/>
					<xs:element name="newMessages"
							type="xs:int"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="MessageHeaderSet">
				<xs:sequence>
					<xs:element name="messageHeader"
							type="tns:MessageHeader"
							minOccurs="0"
							maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="MessageSet">
				<xs:sequence>
					<xs:element name="message"
							type="tns:Message"
							minOccurs="0"
							maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="PaymentSchedule">
				<xs:sequence>
					<xs:element name="term"
							type="xs:int"/>
					<xs:element name="amount"
							type="xs:double"/>
					<xs:element name="currency"
							type="xs:string"/>
					<xs:element name="mounthlyPayment"
							type="xs:double"/>
					<xs:element name="totalAmountDue"
							type="xs:double"/>
					<xs:element name="paymentScheduleRows"
							type="tns:PaymentScheduleRows"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="PaymentScheduleRow">
				<xs:sequence>
					<xs:element name="scheduleDate"
							type="xs:date"/>
					<xs:element name="amountDisbursed"
							type="xs:double"/>
					<xs:element name="principalAmountDue"
							type="xs:double"/>
					<xs:element name="interestAmountDue"
							type="xs:double"/>
					<xs:element name="comissionAmountDue"
							type="xs:double"/>
					<xs:element name="totalAmountDue"
							type="xs:double"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="PaymentScheduleRows">
				<xs:sequence>
					<xs:element name="paymentScheduleRow"
							type="tns:PaymentScheduleRow"
							minOccurs="0"
							maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="PaymentScheduleSet">
				<xs:sequence>
					<xs:element name="paymentSchedule"
							type="tns:PaymentSchedule"
							minOccurs="0"
							maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="getPaymentSchedule">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="partnerID"
								type="xs:string"/>
						<xs:element name="loanProductID"
								type="xs:string"/>
						<xs:element name="term"
								type="xs:int"/>
						<xs:element name="amount"
								type="xs:double"/>
						<xs:element name="currency"
								type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getPaymentScheduleResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="tns:PaymentScheduleSet"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getLoanProductSet">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="partnerID"
								type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getLoanProductSetResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="tns:LoanProductSet"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</types>
	<message name="getPaymentScheduleRequestMessage">
		<part name="parameters"
				element="tns:getPaymentSchedule"/>
	</message>
	<message name="getPaymentScheduleResponseMessage">
		<part name="parameters"
				element="tns:getPaymentScheduleResponse"/>
	</message>
	<message name="getLoanProductSetRequestMessage">
		<part name="parameters"
				element="tns:getLoanProductSet"/>
	</message>
	<message name="getLoanProductSetResponseMessage">
		<part name="parameters"
				element="tns:getLoanProductSetResponse"/>
	</message>
	<portType name="PaymentScheduleServicePortType">
		<operation name="getPaymentSchedule">
			<input message="tns:getPaymentScheduleRequestMessage"/>
			<output message="tns:getPaymentScheduleResponseMessage"/>
		</operation>
		<operation name="getLoanProductSet">
			<input message="tns:getLoanProductSetRequestMessage"/>
			<output message="tns:getLoanProductSetResponseMessage"/>
		</operation>
	</portType>
	<binding name="PaymentScheduleServiceSoapBinding"
			type="tns:PaymentScheduleServicePortType">
		<soapbind:binding style="document"
				transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="getPaymentSchedule">
			<soapbind:operation style="document"
					soapAction="http://www.topcredit.md#PaymentScheduleService:getPaymentSchedule"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="getLoanProductSet">
			<soapbind:operation style="document"
					soapAction="http://www.topcredit.md#PaymentScheduleService:getLoanProductSet"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="PaymentScheduleServiceSoap12Binding"
			type="tns:PaymentScheduleServicePortType">
		<soap12bind:binding style="document"
				transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="getPaymentSchedule">
			<soap12bind:operation style="document"
					soapAction="http://www.topcredit.md#PaymentScheduleService:getPaymentSchedule"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="getLoanProductSet">
			<soap12bind:operation style="document"
					soapAction="http://www.topcredit.md#PaymentScheduleService:getLoanProductSet"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="PaymentScheduleService">
		<port name="PaymentScheduleServiceSoap"
				binding="tns:PaymentScheduleServiceSoapBinding">
			<documentation> 
				<wsi:Claim xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/"
						conformsTo="http://ws-i.org/profiles/basic/1.1"/>
			</documentation>
			<soapbind:address location="http://188.138.214.69/topcredit/ws/PaymentScheduleService.1cws"/>
		</port>
		<port name="PaymentScheduleServiceSoap12"
				binding="tns:PaymentScheduleServiceSoap12Binding">
			<soap12bind:address location="http://188.138.214.69/topcredit/ws/PaymentScheduleService.1cws"/>
		</port>
	</service>
</definitions>